#image: maven:latest
image: maven:3-jdk-8

variables:
  MAVEN_CLI_OPTS: "-s .m2/settings.xml --batch-mode"
  MAVEN_OPTS: "-Dmaven.repo.local=.m2/repository"

cache:
  paths:
    - .m2/repository/
    - target/

build:
  stage: build
  tags:
    - maven
  script:
    - mvn $MAVEN_CLI_OPTS install
    #- find /usr/* -type f|grep tools.jar

test:
  stage: test
  tags:
    - maven
  script:
    - mvn $MAVEN_CLI_OPTS test

#deploy:
#  stage: deploy
#  script:
#    - mvn $MAVEN_CLI_OPTS deploy
#  only:
#    - master