- hosts: stg
  tasks:
    - name: test ping
      ping:
      register: message

    - name: pring message
      debug:
        msg: "{{ message }}"
        
    - name: copy file
      synchronize:
          src: /builds/akb/akbadm/target/akbadm/
          dest: /home/webuser/_nico/akbadm/
          
    - name: restart tomcat
      command: sudo systemstl restart tomcat
        

