<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">
    
	<!-- AdModel API -->
	<bean id="ControlPriceAPI" class="com.pchome.akbadm.api.ControlPriceAPI" scope="prototype" >
    	<property name="adActionService" ref="PfpAdActionService" />	
    </bean>
    
    <!-- 刪除暫存檔 API -->
    <bean id="RemoveTempFileAPI" class="com.pchome.akbadm.api.RemoveTempFileAPI" >
    	<property name="tempPath" value="${temp.path}" />
    </bean>
</beans>
