<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration PUBLIC "-//log4j/log4j Configuration//EN" "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">
<!--
<!DOCTYPE log4j:configuration PUBLIC "-//log4j/log4j Configuration//EN" "http://svn.apache.org/viewvc/logging/log4j/trunk/src/main/resources/org/apache/log4j/xml/log4j.dtd?view=co">
-->

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <appender name="stdout" class="org.apache.log4j.ConsoleAppender">
       <layout class="org.apache.log4j.PatternLayout">
          <param name="ConversionPattern" value="%d{yyyy/MM/dd HH:mm:ss} [%-5.5p] [%c@%t]%M(%L) %m%n"/> 
       </layout> 
    </appender>
	
	<appender name="akbAdmAppender" class="org.apache.log4j.DailyRollingFileAppender">
		
		<!-- server 端 -->
		<param name="File" value="/export/home/webuser/akb/log/adm/adm.log" />
		<param name="Append" value="true" />
		<param name="DatePattern" value="'.'yyyy-MM-dd'.log'" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy/MM/dd HH:mm:ss} [%-5p] [%c@%t]%M(%L) %m%n" />
		</layout>
	</appender>
    
    <root>
        <level value="info"/>
        <appender-ref ref="akbAdmAppender" />
        <appender-ref ref="stdout" />
    </root>
</log4j:configuration> 